name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Create Android signing key from secret
      run: |
        sed -i 's/C:\\\\Users\\\\Username\\\\/..\//g' build.gradle
        echo -n "${{ secrets.ANDROID_SIGNING_KEY }}" | base64 --decode > android_signing_key.jks
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease
    - name: Rename output
      run: |
        cd app/build/outputs/apk/release
        mv app-release.apk PicoZen.apk
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: PicoZen
        path: app/build/outputs/apk/release/PicoZen.apk
